@model ProvaFrontEnd_07_17.Models.Noticias.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Layout.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Layout.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noticia.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noticia.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
